In [161]:
import pandas as pd
import numpy as np
import pickle

In [162]:
#x, y, column_names = data['data'], data['target'], data['feature_names']
data = pd.read_csv("dataset/indeed_job_dataset_cleaned.csv")

In [163]:
#data = data.astype(object)
data.head()

,Job_Type,Salary,python,sql,machine learning,r,hadoop,tableau,sas,spark,java,Others
0,data_scientist,Low,0,1,0,0,0,0,0,0,0,1
1,data_scientist,Low,1,1,1,1,0,0,1,0,0,0
2,data_scientist,Low,1,1,0,1,0,0,1,0,0,1
3,data_scientist,Low,0,0,0,0,0,0,0,0,0,1
4,data_scientist,Low,0,0,0,1,0,1,0,0,0,1

In [164]:
x = pd.DataFrame(data, columns = ['Job_Type', 'python', 'sql', 'machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others'])
x.loc[x.Job_Type == "data_analyst", "Job_Type"] = 1
x.loc[x.Job_Type == "data_engineer", "Job_Type"] = 2
x.loc[x.Job_Type == "data_scientist", "Job_Type"] = 3

y = pd.DataFrame(data, columns = ['Salary'])

In [165]:
x['Job_Type'] = x['Job_Type'].astype(int)

In [166]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x,y,test_size = 0.20,random_state=0)

In [167]:
x_train.columns

Index(['Job_Type', 'python', 'sql', 'machine learning', 'r', 'hadoop',
       'tableau', 'sas', 'spark', 'java', 'Others'],
      dtype='object')

In [168]:
x_train.dtypes

Job_Type            int32
python              int64
sql                 int64
machine learning    int64
r                   int64
hadoop              int64
tableau             int64
sas                 int64
spark               int64
java                int64
Others              int64
dtype: object

In [169]:
import xgboost as xgb
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train,y_train)

D:\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [170]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val, model.predict(x_val))

0.7760279965004374

In [171]:
filename = 'xgb_model.pkl'
pickle.dump(model, open(filename, 'wb'))

In [175]:
data = [[1,1,1,0,0,1,0,1,1,0,1]]

In [173]:
df = pd.DataFrame(data, columns=['Job_Type', 'python', 'sql', 'machine learning', 'r', 'hadoop','tableau', 'sas', 'spark', 'java', 'Others'])

In [174]:
model.predict(df)[0]

'High'