In [1]:
import pandas as pd
import numpy as np

#x, y, column_names = data['data'], data['target'], data['feature_names']
data = pd.read_csv("../dataset/cleanedData.csv")

In [2]:
#data = data.astype(object)
data.head()

,Job_Type,Salary,python,sql,machine learning,r,hadoop,tableau,sas,spark,java,Others
0,data_scientist,Low,0,1,0,0,0,0,0,0,0,1
1,data_scientist,Low,1,1,1,1,0,0,1,0,0,0
2,data_scientist,Low,1,1,0,1,0,0,1,0,0,1
3,data_scientist,Low,0,0,0,0,0,0,0,0,0,1
4,data_scientist,Low,0,0,0,1,0,1,0,0,0,1

In [3]:
x = pd.DataFrame(data, columns = ['Job_Type', 'python', 'sql', 'machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others'])
x.loc[x.Job_Type == "data_analyst", "Job_Type"] = 1
x.loc[x.Job_Type == "data_engineer", "Job_Type"] = 2
x.loc[x.Job_Type == "data_scientist", "Job_Type"] = 3

y = pd.DataFrame(data, columns = ['Salary'])
#y.loc[y['Salary'] == "Low", "Salary"] = 1
#y.loc[y['Salary'] == "Medium", "Salary"] = 2
#y.loc[y['Salary'] == "High", "Salary"] = 3

In [4]:
x = x.astype('category')
y = y.astype('category')

#x.tail(250)
y.head()
#type(y)


#y = pd.Categorical(y, categories=["Low", "Medium", "High"], ordered=False)
#x.Job_Type = pd.Categorical(x.Job_Type, categories=[1,2,3], ordered=False)
#x.reshape(-1,1)
#x.head()

  Salary
0    Low
1    Low
2    Low
3    Low
4    Low

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x,y,test_size = 0.20,random_state=0)
#type(x_val)

In [6]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)
#accuracy_score(y, model.predict(x))
#pyhon, sql, ml, tableau

/home/nikhere/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [7]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val, model.predict(x_val))

0.7174103237095363

In [8]:
ver = [[1,1,1,0,0,1,0,1,1,0,1]]
print(type(ver))
print(model.predict(ver))

<class 'list'>
['High']

In [9]:
y.tail()
x.tail()

,Job_Type,python,sql,machine learning,r,hadoop,tableau,sas,spark,java,Others
5710,2,1,1,0,0,1,0,0,1,1,1
5711,2,0,0,0,0,0,0,0,1,1,1
5712,2,0,0,0,0,1,0,0,1,1,1
5713,2,1,0,0,0,0,0,0,0,1,1
5714,2,0,0,0,0,1,0,0,0,1,1

In [10]:
import pickle
lmmodel = 'lmmodel.sav'
pickle.dump(model, open(lmmodel, 'wb'))

In [11]:
import pandas as pd 
import numpy as np 
import scipy as scp
import sklearn

from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics 
from sklearn.metrics import confusion_matrix

In [12]:
digreg = linear_model.LogisticRegression()
digreg.fit(x_train, y_train)

/home/nikhere/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [13]:
y_multinomial = digreg.predict(x_val)

In [14]:
print("Accuracy of Logistic Regression model is:", metrics.accuracy_score(y_val, y_multinomial)*100)

Accuracy of Logistic Regression model is: 77.77777777777779

In [15]:
ver = [[2,1,0,0,0,0,0,0,0,1,1]]
print(digreg.predict(ver))

['Medium']

In [16]:
import pickle
mix = 'digreg.sav'
pickle.dump(digreg, open(mix, 'wb'))

In [17]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [18]:
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_val)

In [19]:
print("Accuracy:",metrics.accuracy_score(y_val, y_pred))

Accuracy: 0.7655293088363955

In [20]:
ver = [[2,1,0,0,0,0,0,0,0,1,1]]
print(clf.predict(ver))

['Medium']

In [21]:
import pickle
tree = 'clf.sav'
pickle.dump(clf, open(tree, 'wb'))